@font-face {
    font-family: Emillyne;
    src: url('../Emillyne.ttf');
}

.header-background{
  background: url('../images/ArielleAndre_forweb113.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 800px;
  overflow: hidden;
}

h1{
	font-family: "Emillyne","Petit Formal Script", serif;
	width: 25%;
	font-size: 70px;
	padding: 40px 0 0 40px;
}

ul{
	font-family: Cantarell, sans-serif;
	float: right;
	clear: both;
}

nav li{
	display: inline-block;
	margin-right: 30px;
}

@media only screen and (max-width: 742px){
	nav li{
		margin-right: 50%;
		margin-top: 10px;
	}
}

nav a{
	text-decoration: none;
	color: black;
}

body{
	background-color: #f2f2f2
}

.about-us{
	height: 500px;
	width: 75%;
	text-align: center;
	margin: 0 auto;
}
.about-us h2{
	font-family: Cantarell, sans-serif;
	font-weight: 700;
	margin-top: 100px;
	font-size: 20px;
}


.about-us p{
	font-family: Cantarell, sans-serif;
	margin: 30px 0 100px 0;
	font-size: 15px;
}


.about-us span{
	font-size: 10px;
	font-family: Cantarell, sans-serif;
	font-weight: "400 italic";
}

@media only screen and (max-width: 742px){
	.about-us h2{
		font-size: 10px;
	}
	.about-us p{
		font-size: 8px;
	}
	.about-us span{
		font-size: 8px;
	}
}

.homepage-photo-2{
  background: url('../images/ArielleAndre_forweb153.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 800px;
  overflow: hidden;
}

.summary {
	font-family: Cantarell, sans-serif;
	text-align: center;
}

.summary p{
	margin: 40px;
}

button{
	font-family: Cantarell, sans-serif;
	font-size: 15px;
	border-style: solid;
	border-color: black;
	padding: 15px;
	background-color: #f2f2f2;
	margin-bottom: 20px
}

button a{
	text-decoration: none;
	color: black;
}

.wedding-detail-nav{
	width: 100%;
	height: 200px;
	overflow: hidden;
}

.wedding-detail-header-1 {
	background: url('../images/travel-details-header-1.jpg');
	background-size: cover;
	background-position: center;
  	background-attachment: fixed;
  	width: 100%;
  	height: 500px;
  	overflow: hidden;
}

.wedding-detail-header-1 p{
	font-family: Cantarell, sans-serif;
	font-weight: 700;
	font-size: 50px;
	color: white;
	text-align: center;
	line-height: 500px;
}


.wedding-details{
	position: relative;
	left: 50%;
	margin-left: -325px;
	font-family: Cantarell, sans-serif;
	overflow: hidden;
	width: 683px;
	margin-top: 30px;
	line-height: 1.5;
	margin-bottom: 60px;
}


.wedding-details h3{
	font-weight: 700;
	font-size: 20px;
}

@media only screen and (max-width: 716px){
	.wedding-details h3{
		font-size: 17px;
	}

	.wedding-details-p-1{
		font-size: 12px;
	}

	.wedding-details-p-2{
		font-size: 12px;
	}
}


.wedding-details-p-1{
	float: left;
	width: 45%;
	margin-right: 30px;
}

.wedding-details-p-2{
	float: left;
	width: 45%;
}

.wedding-details-map{
	position: relative;
}

.wedding-details-map img{
	position: relative;
	left: 50%;
	margin-left: -325px;
	height: auto;
	width: 683px;
	margin-bottom: 60px;
}

iframe{
	width: 100%;
	height: 1000px;
}

.travel-details-header-1 {
  background: url('../images/travel-details-header-1.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.travel-details-header-1 p{
	font-family: Cantarell, sans-serif;
	font-weight: 700;
	font-size: 50px;
	color: white;
	text-align: center;
	line-height: 500px;
}

.travel-details-header-2 {
	background: url('../images/travel-details-header-1.jpg');
	background-size: cover;
	background-position: center;
  	background-attachment: fixed;
  	width: 100%;
  	height: 500px;
  	overflow: hidden;
}

.travel-details-header-2 p{
	font-family: Cantarell, sans-serif;
	font-weight: 700;
	font-size: 50px;
	color: white;
	text-align: center;
	line-height: 500px;
}

.travel-info{
	position: relative;
	left: 50%;
	margin-left: -550px;
	font-family: Cantarell, sans-serif;
	overflow: hidden;
	width: 1500px;
	margin-top: 30px;
	line-height: 1.5;
	margin-bottom: 60px;
}

.travel-info h3{
	font-weight: 700;
	font-size: 20px;
}


.travel-info-p-1{
	float: left;
	width: 25%;
	margin-right: 30px;
}

.travel-info-p-2{
	float: left;
	width: 25%;
	margin-right: 30px;
}

.travel-info-p-3{
	float: left;
	width: 25%;
}

.hotel-info{
	position: relative;
	left: 50%;
	margin-left: -325px;
	font-family: Cantarell, sans-serif;
	overflow: hidden;
	width: 683px;
	margin-top: 30px;
	line-height: 1.5;
	margin-bottom: 60px;
}

.hotel-info h4{
	font-weight: 700;
	font-size: 20px;
}

.hotel-info-p-2{
	float: left;
	width: 47%;
	margin-right: 20px;
	margin-top: 20px;
}

.hotel-info-p-3{
	float: left;
	width: 47%;
	margin-top: 20px;
}

.RSVP-photo{
	position: relative;
	left: 50%;
	margin-left: -425px;
}

.RSVP-photo img{
	position: relative;
	margin: 100px 0 50px 0;

}

.RSVP-hed p{
	text-align: center;
	margin-bottom: 20px;
	font-family: Cantarell, sans-serif;
}

.RSVP-form{
	position: relative;
	font-family: Cantarell, sans-serif;
}

form{
	position: relative;
	left: 50%;
	margin-left: -175px;
}

.submit-button{
	margin: 0 auto;
	display: block;
	width: 100px;
	padding-top: 25px;
}

.submit-button button{
	width: 100px;
}

#contact-us{
	margin-bottom: 50px;
}


